@model IEnumerable<Core.InterviewPrep.PostgreSQL.Models.ValueTypeMaster>

@{
    Layout = null;
}

<style>
    .topic-index {
        position: absolute;
        top: 70px;
        left: 0;
        bottom: 0;
        display: block;
        max-height: 100%;
        overflow: auto;
        height: 100%;
    }

        .topic-index a {
            cursor: pointer;
        }

    .topic-details {
        position: absolute;
        top: 70px;
        right: 0;
        bottom: 0;
        display: block;
        max-height: 100%;
        overflow: auto;
        height: 100%;
    }

    @@media (max-width: 720px) {
        .topic-index {
            display: none;
            max-height: 100%;
        }

        .topic-details {
            position: relative;
            display: block;
        }
    }
</style>
<style type="text/css">


    .content {
        padding: 10px;
    }

    img {
        max-width: 100%;
    }

    figure img {
        max-width: 100%;
    }

    .badge-primary {
        background-color: darkslateblue;
        font-family: none;
        left: 10px;
        margin-right: 15px;
    }

    .badge-info {
        background-color: #1b6ec2b0;
        font-family: none;
        position: absolute;
        right: 15px;
    }

    .badge-warning {
        background-color: #ce9c07ba;
        font-family: none;
        position: absolute;
        right: 15px;
    }

    .badge-danger {
        background-color: #e014289c;
        font-family: none;
        position: absolute;
        right: 15px;
    }
</style>
<style id="style1" type="text/css">
    @@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

    pre, code {
        font-family: "Roboto Mono", monospace !important;
        font-size: 9pt !important;
        line-height: 140% !important;
    }
</style>

<style>
    /* The "copy" box container */
    .code-badge {
        background: #555 !important;
        padding: 8px !important;
        opacity: 0.5 !important;
        transition: opacity linear 0.5s !important;
    }

    /* The "copy" button */
    .code-badge-copy-icon {
        font-size: 1.3em !important;
    }

    /* The "copy" button, after clicked */
    .text-success {
        color: #b6ff00;
    }

    /* The text in the container */
    .code-badge-language {
        margin-right: 10px;
        font-weight: 700 !important;
        color: #ffafaf !important;
        transition: color linear 0.5s !important;
    }

    /* The "copy" box container, at mouse hover */
    .code-badge:hover {
        opacity: 1 !important;
        background: #4f4f4f !important;
    }

        /* The text in the container, at mouse hover */
        .code-badge:hover .code-badge-language {
            color: #ff4343 !important;
        }

    .dropdown-toggle::after {
        display: none !important;
        margin-left: 0;
        vertical-align: 0;
        content: "";
        border-top: 0 !important;
        border-right: 0 !important;
        border-bottom: 0;
        border-left: 0 !important;
    }
</style>

<div class="row mt-3">
    <div class="col-md-3 topic-index">
        <h2>
            Index
        </h2>
        <ol class="navbar navbar-light bg-light flex-column align-items-stretch p-3" id="accordionOL">
            @if (Model != null && Model.Count() > 0)
            {
                int count = 0; int i = 0;
                foreach (var item in Model)
                {
                    count = item.Id; i++;
                    <li>
                        <a class="text-primary" data-bs-toggle="collapse" data-bs-target="#collapse_@count" data-bs-type="topic" id="open_heading_@count" data-accordion-target="#addHeadings_@count" data-accordion-id="@item.Id">
                            @item.Name
                            <span id="badge_open_heading_@count" class="badge badge-info" data-bs-toggle="tooltip" title="Headings">0</span>
                            <span class="spinner-border" style="display: none;"></span>
                        </a>
                        <ol id="collapse_@count" class="collapse" data-bs-parent="#accordionOL">

                            @if (item.Headings != null && item.Headings.Count > 0)
                            {
                                int countHeading = 0;
                                foreach (var heading in item.Headings)
                                {
                                    countHeading = heading.HeadingId;
                                    <li>
                                        <a class="text-secondary" data-bs-toggle="collapse" data-bs-target="#collapse_h_@count.ToString()_@countHeading" data-bs-type="heading" id="open_question_@countHeading" data-accordion-target="#addQuestions_@countHeading" data-accordion-id="@heading.HeadingId">
                                            @heading.HeadingName
                                            <span id="badge_open_question_@countHeading" class="badge badge-warning" data-bs-toggle="tooltip" title="Questions">0</span>
                                            <span class="spinner-border" style="display: none;"></span>
                                        </a>
                                        <ol id="collapse_h_@count.ToString()_@countHeading" class="collapse" data-bs-parent="#collapse_@count">
                                            @if (heading != null && heading?.Questions.Count > 0)
                                            {
                                                int countQuestion = 0;
                                                foreach (var question in heading?.Questions)
                                                {
                                                    countQuestion = question.QuestionId;
                                                    <li>
                                                        <a class="text-info" data-bs-toggle="collapse" data-bs-target="#collapse_q_@count.ToString()_@countHeading.ToString()_@countQuestion" data-bs-parent="#addQuestions_@countHeading" data-bs-type="question" id="open_answer_@countQuestion" data-accordion-target="#addAnswers_@countQuestion" data-accordion-id="@question.QuestionId">
                                                            @question.QuestionName
                                                            <span id="badge_open_answer_@countQuestion" class="badge badge-danger" data-bs-toggle="tooltip" title="Answers">0</span>
                                                            <span class="spinner-border" style="display: none;"></span>
                                                        </a>
                                                    </li>
                                                }
                                            }
                                        </ol>
                                    </li>
                                }
                            }
                        </ol>
                    </li>
                }
            }

        </ol>
    </div>
    <div class="col-md-9 topic-details">
        <h2>
            Interview Preperation
            <div style="float: right;">
                <a href="/preps/AddTopics" class="btn btn-outline-primary btn-xs" data-modal="" title="Add Topics">
                    <i class="fa fa-plus"></i>
                </a>
                <a id="collapseall" class="btn btn-outline-primary btn-xs">
                    <i class="fa fa-arrow-up"></i>
                </a>
                <div class="dropdown" style="float:right;margin-left:5px;">
                    <a class="btn btn-outline-primary btn-xs dropdown-toggle" data-bs-toggle="dropdown">
                        <i class="fa fa-ellipsis-v"></i>
                    </a>
                    <div class="dropdown-menu">
                        @(await Html.PartialAsync("_HighlightFilter"))
                    </div>
                </div>
            </div>
        </h2>

        <div id="accordion" data-bs-spy="scroll" data-bs-target="#accordionOL" data-bs-offset="0" tabindex="0">

            @if (Model != null && Model.Count() > 0)
            {
                int count = 0; int i = 0;
                foreach (var item in Model)
                {
                    count = item.Id; i++;
                    <div class="card card-topic" id="accordion_@count">
                        <div class="card-header">
                            <a class="col-topic btn" data-count-url="/preps/countheadings" data-bs-toggle="collapse" data-bs-target="#collapse_@count" data-bs-type="topic" id="open_heading_@count" data-accordion-target="#addHeadings_@count" data-accordion-id="@item.Id">
                                <b>@i.</b> @item.Name
                                <span class="badge badge-primary" data-bs-toggle="tooltip" title="Headings">0</span>
                                <span class="spinner-border" style="display: none;"></span>
                            </a>
                            <div style="float: right;">
                                <a href="/preps/AddHeadings/@item.Id" class="btn btn-outline-primary btn-xs" data-modal="" data-modal-replace="#addHeadings_@count" title="Add Headings" data-ac-target="#collapse_@count" data-ac-type="topic">
                                    <i class="fa fa-plus"></i>
                                </a>
                                <a href="/preps/EditTopics/@item.Id" class="btn btn-outline-warning btn-xs" data-modal="" title="Edit Topic" data-ac-target="#collapse_@count" data-ac-type="topic">
                                    <i class="fa fa-pencil"></i>
                                </a>
                                <a href="/preps/DeleteTopics/@item.Id" class="btn btn-outline-danger btn-xs" data-modal-delete="" title="Delete Topic">
                                    <i class="fa fa-trash"></i>
                                    <span class="fa fa-refresh fa-spin" style="display:none;"></span>
                                </a>
                            </div>
                        </div>
                        <div id="collapse_@count" class="collapse @(count == 1? "not-show":"") heading" data-bs-parent="#accordion">
                            <div class="card-body" id="addHeadings_@count">
                            </div>
                            <script>

                                // $(function () {
                                //     hljs.highlightAll();
                                // });
                                var topicId = 0;
                                var result = false;
                                $(document).on('show.bs.collapse', "#collapse_@count", function () {
                                    result = true;
                                });
                                $(document).on('click', '#open_heading_@count', function () {
                                    var targetId = $(this).attr('href');

                                    if (result) {
                                        console.log('topic__@count accordion opened');
                                        topicId = $(this).attr('data-accordion-id');
                                        var targetId = $(this).attr('data-accordion-target');
                                        $(targetId).load('/preps/HeadingList/' + topicId);
                                    }
                                    else {
                                        console.log('topic__@count accordion closed');
                                    }
                                    result = false;
                                });
                            </script>
                        </div>
                    </div>
                }
            }


        </div>
    </div>
</div>

<script>
    $(function () {
        $('.col-topic').each(function (key, value) {
            var Id = $(this).attr('data-accordion-id');
            var _url = $(this).attr('data-count-url');
            GetCounts($(this), Id, _url);
        });
        function GetCounts(obj, Id, _url) {
            $.ajax({
                url: _url,
                type: 'Get',
                data: { id: Id },
                success: function (result) {
                    console.log(obj.html());
                    console.log('Topic Count: ' + result + ' For Topic Id: ' + Id);
                    obj.find('.badge').text(result);
                    $('#badge_' + obj.attr('id')).text(result);
                },
                error: function () {
                    toastr.error('Heading Count Failed');
                }
            });
        }
    })
</script>


@* -----Accordian Backup------ *@
@* <div id="accordion">

    @if (Model != null && Model.Count() > 0)
    {
        int count = 0;
        foreach (var item in Model)
        {
            count++;
            <div class="card card-topic" id="accordion_@count">
                <div class="card-header">
                    <a class="col-topic btn" data-bs-toggle="collapse" data-bs-target="#collapse_@count" data-bs-type="topic">
                        <b>@count.</b> @item.Name
                    </a>
                    <div style="float: right;">
                        <a href="/preps/AddHeadings/@item.Id" class="btn btn-outline-primary btn-xs" data-modal="" title="Add Headings" data-ac-target="#collapse_@count" data-ac-type="topic">
                            <i class="fa fa-plus"></i>
                        </a>
                        <a href="/preps/EditTopics/@item.Id" class="btn btn-outline-warning btn-xs" data-modal="" title="Edit Topic" data-ac-target="#collapse_@count" data-ac-type="topic">
                            <i class="fa fa-pencil"></i>
                        </a>
                        <a href="/preps/DeleteTopics/@item.Id" class="btn btn-outline-danger btn-xs" data-modal-delete="" title="Delete Topic">
                            <i class="fa fa-trash"></i>
                            <span class="fa fa-refresh fa-spin" style="display:none;"></span>
                        </a>
                    </div>
                </div>
                <div id="collapse_@count" class="collapse @(count == 1? "not-show":"") heading" data-bs-parent="#accordion">
                    <div class="card-body">
                        @if (item.Headings != null && item.Headings.Count > 0)
                        {
                            int countHeading = 0;
                            foreach (var heading in item.Headings)
                            {
                                countHeading++;
                                <div class="card card-heading" id="accordion_@countHeading">
                                    <div class="card-header">
                                        <a class="col-heading collapsed btn" data-bs-toggle="collapse" data-bs-target="#collapse_h_@count.ToString()_@countHeading" data-bs-type="heading">
                                            <b>@countHeading.</b>  @heading.HeadingName
                                        </a>

                                        <div style="float: right;">
                                            <a href="/preps/AddQuestions/@heading.HeadingId" class="btn btn-outline-primary btn-xs" data-modal="" title="Add Questions" data-ac-target="#collapse_h_@count.ToString()_@countHeading" data-ac-type="heading">
                                                <i class="fa fa-plus"></i>
                                            </a>
                                            <a href="/preps/EditHeadings/@heading.HeadingId" class="btn btn-outline-warning btn-xs" data-modal="" title="Edit Heading" data-ac-target="#collapse_h_@count.ToString()_@countHeading" data-ac-type="heading">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                            <a href="/preps/DeleteHeadings/@heading.HeadingId" class="btn btn-outline-danger btn-xs" data-modal-delete="" title="Delete Heading" data-ac-target="#collapse_@count" data-ac-type="topic">
                                                <i class="fa fa-trash"></i>
                                                <span class="fa fa-refresh fa-spin" style="display:none;"></span>
                                            </a>
                                        </div>
                                    </div>
                                    <div id="collapse_h_@count.ToString()_@countHeading" class="question collapse@(count == 1? "not-show":"")" data-bs-parent="#collapse_@count">
                                        <div class="card-body">
                                            @if (heading != null && heading?.Questions.Count > 0)
                                            {
                                                int countQuestion = 0;
                                                foreach (var question in heading?.Questions)
                                                {
                                                    countQuestion++;
                                                    <div class="card card-question">
                                                        <div class="card-header">
                                                            <a class="col-question collapsed btn" data-bs-toggle="collapse" data-bs-target="#collapse_q_@count.ToString()_@countHeading.ToString()_@countQuestion" data-bs-type="question">
                                                                <b>@countQuestion.</b> @question.QuestionName
                                                            </a>
                                                            <div style="float: right;">
                                                                <a href="/preps/AddAnswers/@question.QuestionId" class="btn btn-outline-primary btn-xs" data-modal-c="" title="Add Answers" data-ac-target="#collapse_q_@count.ToString()_@countHeading.ToString()_@countQuestion" data-ac-type="question">
                                                                    <i class="fa fa-plus"></i>
                                                                </a>
                                                                <a href="/preps/EditQuestions/@question.QuestionId" class="btn btn-outline-warning btn-xs" data-modal="" title="Edit Question" data-ac-target="#collapse_q_@count.ToString()_@countHeading.ToString()_@countQuestion" data-ac-type="question">
                                                                    <i class="fa fa-pencil"></i>
                                                                </a>
                                                                <a href="/preps/DeleteQuestions/@question.QuestionId" class="btn btn-outline-danger btn-xs" data-modal-delete="" title="Delete Question" data-ac-target="#collapse_h_@count.ToString()_@countHeading" data-ac-type="heading">
                                                                    <i class="fa fa-trash"></i>
                                                                    <span class="fa fa-refresh fa-spin" style="display:none;"></span>
                                                                </a>
                                                            </div>

                                                        </div>
                                                        <div id="collapse_q_@count.ToString()_@countHeading.ToString()_@countQuestion" class="collapse @(count == 1? "not-show":"") answer" data-bs-parent="#collapse_h_@countHeading">
                                                            <div class="card-body">
                                                                @if (question.Answers != null)
                                                                {
                                                                    int countAnswer = 0;
                                                                    foreach (var answer in question.Answers)
                                                                    {
                                                                        countAnswer++;
                                                                        <div class="row">
                                                                            <div class="col-md-12">
                                                                                @(await Html.PartialAsync("_HighlightViewer", answer))
                                                                                <a href="/preps/EditAnswers/@answer.AnswerId" class="btn btn-outline-warning btn-xs" data-modal-c="" title="Edit Answer" data-ac-target="#collapse_q_@count.ToString()_@countHeading.ToString()_@countQuestion" data-ac-type="question">
                                                                                    <i class="fa fa-pencil"></i>
                                                                                </a>
                                                                                <a href="/preps/DeleteAnswers/@answer.AnswerId" class="btn btn-outline-danger btn-xs" data-modal-delete="" title="Delete Answer" data-ac-target="#collapse_q_@count.ToString()_@countHeading.ToString()_@countQuestion" data-ac-type="question">
                                                                                    <i class="fa fa-trash"></i>
                                                                                    <span class="fa fa-refresh fa-spin" style="display:none;"></span>
                                                                                </a>

                                                                            </div>
                                                                        </div>
                                                                    }
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                            }
                        }


                    </div>
                </div>
            </div>
        }
    }


</div> *@